# Server configuration
PORT=3000
NODE_ENV=development

# Database
#MONGODB_URI=mongodb://localhost:27017/cpen321

# Google Auth 
GOOGLE_CLIENT_ID=285946520772-hfnna895rkqngtvfhkuibbl5kpjcbm16.apps.googleusercontent.com

# JWT 
JWT_SECRET=your_jwt_secret_key_here

# Other API keys, secrets, and configurations
SERVER_PUBLIC_IP=http://136.65.194.63:3000
OWNER_FIRST_NAME=Timmy
OWNER_LAST_NAME=Wong